# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Entorno virtual
venv/
env/
ENV/

# Variables de entorno
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de VSCode
.vscode/settings.json

# Archivos de base de datos
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Archivos temporales
*.tmp
*.temp
